/* Contents */
content > div#contents{
    margin-top: 56px;
    min-height: 700px;
}

/* Footer */
footer > div#footer{
    min-height: 200px;
}


/* member */
div#contents > div#memberEnroll{

    width: 500px;
    padding-top: 150px;
    margin: auto;

}

/* jse */
div#contents > div#sudoku .cell{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 2em;
    padding: 0px;
    margin: 0px;
    border: 0;
    background-color: rgb(255, 255, 255);
}

div#contents > div#sudoku .sudokuTable td{
    padding: 1;
}

div#contents > div#sudoku .sudokuTable{
    background-color: rgb(12, 45, 65);
    width: 388px;
    padding: 1px;
    margin: auto;
}

div#contents > div#sudoku #run{
    margin-top: 140px;
}